* {
    padding: 0;
    margin: 0;
  }
  
  .search-icon{
    width: 25px;
    height: 20px;
    right: 20px;
  }

  .bag-logo{
    width: 100px;
  }

  #logo_two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px;
  }

  #column_one{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  #column_two{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .content-close
  {
    display: none;
  }

  .content-open
  {
    display: inline;
    margin: 2px 5px;
    border: 2px 5px;
    position: absolute;
    z-index: 1;
  }

  .search-bar{
    display: inline-flex;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .drop-down{
    border-top: 10px;
    border-left: 5px;
    border-right: 5px;
    padding: 2px 15px;
  }

  #dropdown_toggle{
    background-color: #964B00;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .dropdown-menu{
    z-index: 3;
    border-top: 10px;
    border-left: 5px;
    border-right: 5px;
    background-color: #964B00;
    border-bottom: 1px;
    width: 90%;
  }

  .dropdown-item{
    margin-left: 5px;
    color: #FFFFFF;
  }

  .search-form{
    max-width: 565px;
    min-width: 50px;
    width: unset;
    background-color: #FFFFFF;
  }

  * {
    box-sizing: border-box;
  } 
  
  input {
    width: row;
  }

  @media (min-width: 768px) {

    #logo_two{
        display: none;
    }

  }
