@media (min-width: 1024px) {

    .bag-image{
        width: 83%;
    }

    /* .banner-image{
        height: 430px;
    } */

    .product-details{
        width: 95%;
      }

}

@media (min-width: 1400px) {

    .product-details{
        width: 100%;
        padding: 20px 10px;
    }

    /* .banner-image{
        height: 470px;
    } */

}