@media (min-width: 992px) {
	.logo{
		margin-top: 25px;
	}
	.bag-logo{
		width: 140px;
	}
	.navbar{
		height: 55px;
	}
	.nav-item{
		font-size: 15px;
	}
	.form-control{
		font-size: 15px;
	}
	.banner{
	  height: 410px;
    margin-top: 30px;
	}
	.banner-row{
		margin: auto;
	}
	.banner-left,.banner-right{
    height: 410px;
	}	
  .text-block{
    top: 50%;
  }
	.list-details{
		padding: 15px;
		font-size: 14px;
	}
	.product-section{
		margin: 60px auto 0;
	}
	.bag-image{
		min-width: 230px;
		width:auto;
	}
	.product-details{
		min-width: 230px;
		width: auto;
		padding: 18px 5px;
	}
  .information-text{
    margin-top: 50px;
  }
  .information-heading{
    padding-bottom: 20px;
  }
  .information-details2{
    font-size: 14px;
    line-height: 35px;
  }
	.before-copyright{
		font-size: 12px;
	}
	.link-header{
	  font-size: 16px;
	 }
	.location{
		font-size: 11px;
	}
	.copyright{
		padding: 5px 0;
	}
}

@media (min-width: 1024px) {
	.banner-left{
		padding-right: 10px;
	}
	.banner-right{
		margin-left: 12px;
	}
}

@media (min-width: 1200px) {

	.banner,.banner-left,.banner-right{
    height: 460px;
	}	

	.banner-left{
		padding-right: 10px;
	}
	.banner-right{
		margin-left: 8px;
		align-items: baseline;
	}
	.bag-image{
		min-width: 275px;
		width:auto;
	}
	.product-details{
		min-width: 275px;
		width: auto;
		padding: 26px 5px;
	}
}
@media (min-width: 1500px) {

	.banner-left{
		padding-right: 20px;
	}
	.banner-right{
		margin-left: 0px;
	}
	.bag-image{
		min-width: 270px;
		width:auto;
	}
	.product-details{
		min-width: 270px;
		width: auto;
		padding: 28px 5px;
	}
}