 * {
    padding: 0;
    margin: 0;
  }
  
  a,
  a:hover {
    color: #000000;
    text-decoration: none;
  }
  
  .navbar {
    background-color: #000000;
    padding: 20px 0;
  }

  #navbar_logo {
    height: 25px;
    padding-left: 10px;
  }
  
  #navbar_supported_content {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 40px;
  }
      
  .navbar-nav {
    border-bottom: 1px solid #964B00;
    text-align: center;
  }
  
  .navbar-toggler-icon {
    position: absolute;
    right: 8px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .nav-item {
    background-color: #964B00;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  
  .nav-item:hover {
    background-color: #FFFFFF;
    cursor: pointer;
  }
  
  .nav-item a {
    color: #FFFFFF;
  }
  
  .nav-item:hover a {
    color: #964B00;
  }

  #bag_logo{
        width: 70px;
  }

  #search_icon{
        width: 25px;
        height: 20px;
        right: 20px;
        
    }

  #logo_two{
    display: flex;
    
  }

  #column_one{
    display: flex;
    justify-content: left;
    padding-right: 100px;
    padding-left: 10px;
    padding-top: 10px;
    
  }

  #column_two{
    display: flex;
    justify-content: right;
    padding-right: 10px;
    padding-left: 100px;
    padding-top: 10px;
    
  }

  .search-button{
    border: none;
    background-color: #FFFFFF;
  }

  .border-header { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 5px;
    margin-right: 5px;
    border-style: inset;
    border-width: 1px;
  } 

  .content-close
  {
    display: none;
  }

  .content-open
  {
    display: inline-flexbox;
    margin: 2px 10px;
    border: 2px 10px;
    position: absolute;
    z-index: 1;
  }

  .search-bar{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .dropdown{
    border-top: 10px;
    border-left: 5px;
    border-right: 5px;
    padding: 2px 15px;
  }

  #dropdown_toggle{
    background-color: #964B00;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    
  }


  .dropdown-menu{
    z-index: 1;
    border-top: 10px;
    border-left: 5px;
    border-right: 5px;
    background-color: #964B00;
    border-bottom: 1px solid #964B00;
    width: 90%;
  }

  .dropdown-item{
    margin-left: 5px;
    color: #FFFFFF;
  }

  #left_banner{
    width: 100%;
  }
  
  .container {
    position: relative;
    margin-top: 30px;
  }
  
  .text-block {
    position: absolute;
    left: 20px;
    top: 40%;
    background-color: transparent;
  }

  .New-Collection{
    color: #964B00;
    font-size: 10px;
  }

  .Delicacy{
    color: #000000;
  }

  .sales-label{
    padding-left: 10px;
    text-align: left;
    z-index: 1;
  }

  .product-header { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 5px;
    margin-right: 5px;
    border-style: inset;
    border-width: 1px;
  } 

  .product-list{
    position: relative;
    margin: 20px 20px;
    border: 10px 10px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .bag-image{
    max-width: 100%;
    max-height: 100%;
  }

  .product-details {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 75%;
    background-color: #964B00;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .bag-name{
    float: left;
  }

  .bag-price{
    float: right;
  }

  .information-text{
    text-align: center;
    margin-top: 10px;
    border: 20px 0px;
  }

  .information-heading{
    padding: 10px 10px;
    margin-bottom: 10px;
  }


  @media (max-width: 480px){
    #logo_one{
        display: none;
    }
    
        #form_inline{
            display: none;
    }

    #list_bag_item{
      display: none;
    }

    .row{
      display: none;
    }
  }