@media (min-width: 481px) {

    #bag_logo{
        display: flex;
        justify-content: center;
    }

    #logo_one{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        
      }
    
    #logo_two{
        display: none;
    }

    .navbar {
        padding: 0;
        background-color: #FFFFFF;
      }
    
    #navbar_supported_content {
      margin: 10px;
      position: unset;
      top: auto;
    }
      
    .navbar-nav {
      width: 100%;
      border-top: 1px solid #000000;
      border-bottom: 1px solid #000000;
      justify-content: space-between;
      
    }
  
    .nav-item {
      border: 0px 20px;
      display: inline-block;
      background-color: #FFFFFF;
    }
  
    .nav-item a {
      padding-left: 15px;
      padding-right: 15px;
      display: inline-block;
      color: #964B00;
    }

    #form_inline{
      border: 1px solid #D3D3D3;
    }

    .form-control{
      margin: 0px;
      border: 0px;
    }

    .drop-down{
      display: none;
    }

    .border-header {
      display: none;
    }

    .banner-one{
      display: none;
    }

    .row{
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 0px;
      border-bottom: 0px;
      padding: 4px 4px;
      display: flex;
      justify-content: space-evenly;
      }

    #banner_left{
      border-bottom: 0;
      margin-bottom: 0px;
      margin-right: 10px;
      padding:0 0px;
      border-right: 20px;
      border-left: 10px;
      position: relative;
      bottom: 0px;
      height: 240px;
    }

    #left_banner{
      height: 240px;
    }

    #banner_right{ 
      margin: 5px 5px solid #964B00;
      padding: 0 2px;
    }

    .list-head{
      list-style-type: none;
      padding-left: 5px;
      padding-right: 5px;
      margin: 0px 10px;
      border: 0px 0px;
      background-color: #964B00;
      color: #FFFFFF;
    }
    
    .list-details{
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
      margin: 0px 10px;
      border: 0px 0px;
      font-size: 12px;
      background-color: #FFFFFF;
      color: #000000;
      list-style-image: url("/assets/images/diamond-point.png");
      margin-bottom: 1px;
    }
}
  