@media (min-width: 768px) {

  .nav-and-logo{
    display: flex;
    flex-direction: column;
    padding: 0 20px; 
  }
  .last-nav{
    margin-top: 5px;
  }
  .logo{
    order: 1;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .bag-logo{
    width: 120px;
  }
  #search{
    display: none;
  }
  .black-line{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    order: 2;
  }
  .navbar {
    padding: 0px;
    background-color: #FFFFFF;
    justify-content: center;
    height: 40px;
    margin: 5px auto;
  }
  #navbar_supported_content {
    margin: 0px;
    position: unset;
    top: auto;
  }
  .navbar-nav {
    width: 100%;
    border-bottom: 0px;
    justify-content: space-between;
    margin: 0px;
  }
  .nav-item {
    display: inline-block;
    background-color: #FFFFFF;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    font-size: 12px;
  }
  .nav-item a {
    padding-left: 15px;
    padding-right: 10px;
    display: inline-block;
    color: #000000;
  }
  .form-inline{
    border: 2px solid #D3D3D3;
    padding-right: 5px;
  }
  .form-control{
    margin: 0px;
    border: 0px;
    min-width: 215px;
    height: auto;
    font-size: 12px;
    padding: 3px 10px;
  }
  .border-header {
    display: none;
  }
  .dropdown{
    display: none;
  }
  .banner{
    height: 305px;
    margin-top: 10px;
    background-color: #F2F2F2;
    padding: 0 20px;
  }
  .banner-row{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }
  .banner-left {
    padding-right: 10px;
    height: 305px;
  }
  .text-block{
    top: 45%;
    left: 2%;
  }
  .banner-image {
    background: url("./images/left-banner.png") no-repeat center/cover;
    height: 305px;
  }
  .New-Collection{
    font-size: 12px;
  }
  .Delicacy{
    font-size: 50px;
  }
  .banner-right{
    border: 2px solid #964B00;
    background-color: #FFFFFF;
    padding: 0px;
    height: 305px;
    margin-left: 10px;
  }
  .list-head{
    padding: 2px 0px 3px 10px;
    font-weight: bold;
    font-size: 12px;
    background-color: #964B00;
    color: #FFFFFF;
  }
  .list-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #D3D3D3; 
    margin: 0px;
    font-size: 12px;
    background-color: #FFFFFF;
    color: #000000;
    list-style: none;
  }
  .list-image{
    padding: 0px 10px 0px 2px;
  }
  #no_border{
    border-bottom: 0px;
  }
  .follow-heading{
    font-size: 15px;
    padding-bottom: 5px;
  }
  .social-media{
    padding: 2px 10px 5px 10px;
    box-shadow:  0px 4px 4px #A6A6A6;
  }
  .follow-row{
    display: flex;
    flex-direction: row;
  }
  .product-section{
    margin: 50px auto 0px;
    padding: 0px;
  }
  .sales-product{
    padding: 0;
  }
  .under-line{
    font-size: 20px;
  }
  .product-row{
    display: flex;
    flex-direction: row;
  }
  .product-list {
    margin: 20px 0px;
    padding: 0px;
  }
  .product-details{
    max-width: 170px;
    padding: 14px 5px;
  }
  .bag-image{
    max-width: 170px;
  }
  .information-text{
    margin-top: 40px;
  }
  .information-heading{
    font-size: 40px;
  }
  .information-details1{
    display: none;
  }
  .information-details2{
    display: block;
    font-size: 12px;
    line-height: 30px;
    margin: 0 0 50px;
    text-align: center;
  }
  .before-copyright{
    display: flex;
    font-size: 10px;
    margin: 0px auto;
    padding: 0px;
  }
  .link-details {
    display: block;
    font-weight: normal;
    padding: 5px 0px;
  }
  .enter-email{
    margin-top: 12px;
  }
  .location{
    font-size: 8px;
  }
  .contact-image{
    margin-right: 5px;
    margin-bottom: 0px;
    }
}