@media (min-width: 481px) {

    #bag_logo{
        display: flex;
        justify-content: center;
    }

    #logo_one{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        
      }
    
    #logo_two{
        display: none;
    }

    .navbar {
        padding: 0;
        background-color: #FFFFFF;
      }
    
    #navbar_supported_content {
      margin: 10px;
      position: unset;
      top: auto;
    }
      
    .navbar-nav {
      width: 100%;
      border-top: 1px solid #000000;
      border-bottom: 1px solid #000000;
      justify-content: space-between;
      margin: 0px 5px;
    }
  
    .nav-item {
      border: 0px 20px;
      display: inline-block;
      background-color: #FFFFFF;
    }
  
    .nav-item a {
      padding-left: 15px;
      padding-right: 15px;
      display: inline-block;
      color: #000000;
    }

    #form_inline{
      border: 1px solid #D3D3D3;
      padding-right: 5px;
    }

    .form-control{
      margin: 0px;
      border: 0px;
    }

    .drop-down{
      display: none;
    }

    .border-header {
      display: none;
    }

    .banner-one{
      display: none;
    }

    .banner-two{
      margin: 10px 5px 0px 5px;
      border-bottom: 0px;
      display: flex;
      justify-content: center;
      height: auto;
      }

    #banner_left{
      border-bottom: 0;
      margin-bottom: 0px;
      margin-left: 5px;
      margin-right: 5px;
      padding: 0px;
      height: auto;
      display: flex;
      justify-content: space-between;
    }

    .left_banner{
        height: 95%;
    }

    #banner_right{
      padding: 0px;
      margin-left: 2px;
      margin-right: 10px;
      border: 2px solid #964B00;
      -webkit-flex: 1; /* Safari */
      -md-flex: 1; /* IE 10 */
      flex: 1; 
      height: 100%;
    }

    .list-head{
      list-style-type: none;
      padding-left: 10px;
      padding-right: 0px;
      padding-bottom: 2px;
      background-color: #964B00;
      color: #FFFFFF;
    }
    
    .list-details{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 2px;
      padding-bottom: 1px;
      padding-left: 5px;
      padding-right: 0px;
      border-bottom: 1px solid #D3D3D3; 
      margin-right: 0px;
      font-size: 12px;
      background-color: #FFFFFF;
      color: #000000;
      list-style: none;
    }

    .list-image{
      padding: 0px 5px 0px 8px;
    }

    .list-name{
      padding: 0px 3px 0px 2px;
    }

    #first_list{
      padding: 5px 0px 5px 8px;
    }

    #no_border{
      border-bottom: 0px;
    }

    .social-image {
      display: flex;
      position: relative;
    }

    .follow-heading{
      font-size: 15px;
      padding-bottom: 5px;
    }
    
    .product{
      margin: 5px 5px;
    }

    .product-list {
      float: left;
      width: 25%;
      padding: 5px;
      margin: 20px 0px;
    }
    
    .product::after {
      content: "";
      clear: both;
      display: inline-block;
    }

    .product-details{
      width: 95%;
      padding: 12px 5px;
    }

    .bag-image{
      width: 85%;
    }

    .before-footer{
      display: flex;
      flex-wrap: nowrap;
    }

    .three-side{
      background-color: #964B00;
      color: #FFFFFF;
      width: 100%;
      margin: 0px 5px;
      line-height: 30px;
    }

    .link-details {
      float: none;
    }

    .link-details a {
      margin-left: 10px;
      padding: 5px 5px;
    }

    .contact-details{
      list-style: none;
      display: inline;
    }

    .contact-details::after {
      content: "";
      clear: both;
      display: inline;
    }

    .caption a {
      margin-right: 2px;
      padding-right: 2px;
      padding-bottom: 2px;
      font-size: 12px;
    }

    .image-left{
      margin-bottom: 0px;
    }

    #right_side{
      padding: 0px;
    }

    .content-close{
      display: none;
    }

    .content-open{
      display: none;
    }
}
  